<html>
	
	<head>
		<title>NCTU VJudge</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="styles.css" type="text/css">
	</head>


	<body>
		<div hidden>Hi {{ current_user.uid }}
		<a href = "{{ url_for('logout') }}"> Logout </a>
		</div>
		<p id = "contest_start_time" hidden></p>
		<a href = "/problems"> Download Problems </a>
		<form action='https://dictionary.cambridge.org/us/search/english-chinese-traditional/direct/' target='_blank' hidden>
			<table> <tbody> <tr>
						<td style='width:150px;padding:4px;'> <input style='width:100%;border:1px black solid;border-radius:4px;padding:1px 1px 0 4px;' name='q' placeholder='Dictionary'> </td>
						<td style='width:50px;padding:4px;'> <input style='width:100%;border:none;background:#FFCC16;' type='submit' value='Look it up'> </td>
					</tr> </tbody> </table> </form>

		{% block content %}

			
			{% with err = get_flashed_messages() %}
			{% if err %}
				<h5> Error Messeges:
				<div id="errorMsg">
				<p>
					<font color="red">{{err[0]}}</font>
				</p>
				</div>
				<hr>
			{% endif %}
			{% endwith %}
			
			
			<h1>Bulletins</h1>
			<div id="bulletinsBlock">

		    	<table id="bulletinsTable">

		    		<tr>
						<th>Bulletin ID</th>
						<th>Type</th>
						<th>Content</th>
					</tr>
					<tbody>

					<tr class="newBul">
						<form action="ask" method="POST" id="newBulForm">
							<input type="hidden" name="bid" value="{{ NextBid }}"></input>
							<td colspan="2">Ask a Question</td>
							<input type="hidden" name="type" value="asking"></input>
							<td>
								<textarea form="newBulForm" name="data" rows="4" cols="100"></textarea>
							</td>
							<td><input type="submit" name="Submit" value="Submit"></input></td>
						</form>
					</tr>
					</tbody>
		    	</table>

			</div>


			<hr>
			<div id="bigTimer">
				
				<p id="remain"></p>
				<p id="timer_suffix">to start</p>

			</div>
		{% endblock %}


		<script>

			$(function(){

				function setTime()
				{
					var timer = setInterval(function() {
						let startTime = document.getElementById("contest_start_time").innerHTML
						startTime = new Date(startTime).getTime();
						let now = new Date().getTime();
						let distance = Math.floor((startTime - now)/1000);
						let h = Math.floor(distance/60/60);
						let m = Math.floor((distance%(60*60))/60);
						let s = distance%60;
						
						if (distance < 0) {
							if( distance < -1 )
							{
								clearInterval(timer);
								location.reload();
							}
						}
						else
						{
							document.getElementById("remain").innerHTML = h + "h " + m + "m " + s + "s ";
						}

					}, 1000);		
				}

				function updateTime()
				{
					$.getJSON('/getContestTime',
						function(data){
							$("#contest_start_time").text(data["start"]);
						});
				}

				function updateBulletins()
				{
					$.getJSON("/bulletins",
		                function(data){
		                	buls = data.buls;
							olds = $(".oldBul");
							template = '<tr class="oldBul">\
									<input hidden type="text" name="bid" value=" bul.bid "></input>\
									<td> bul.bid </td>\
									<td> bul.typ </td>\
									<td class=" bul.typ "><pre>bul.data</pre></td>\
							</tr>';

							for(let i = 0; i < olds.length; i++)
								olds[i].remove();

							for(let i = 0; i < Object.keys(buls).length; i++)
								$("#bulletinsTable tr:last").before(template.replace(new RegExp("bul.bid", 'g'), buls[i].bid).replace(new RegExp("bul.typ", 'g'), buls[i].typ).replace(new RegExp("bul.data", 'g'), buls[i].data));
						});
				}

				updateTime();
				updateBulletins();
				
				setTime();
				setInterval(updateBulletins, 5000);
				setInterval(updateTime, 15000);
			});
			
		</script>



	</body>

</html>
